{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <nav style="background-color:#222; padding:10px;">
    <a href="/dashboard/" style="color:white; margin-right:15px;">Dashboard</a>
    <a href="/appointments/" style="color:white; margin-right:15px;">Appointments</a>
    <a href="/logout/" style="color:red;">Logout</a>
</nav>

<div class="container mt-5">
    <h2 class="text-center mb-4">📊 Salon Dashboard</h2>
    <p>Welcome, {{ request.user.username }}</p>
    <a href="/logout/">Logout</a>

    <div class="row">

        <div class="col-md-4 mb-4">
            <div class="card-box bg-primary ">
                <h5>Total Customers</h5>
                <h3>{{ total_customers }}</h3>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card-box bg-success mb-3 p-3">
                <h5>Total Services</h5>
                <h3>{{ total_services }}</h3>
            </div>
        </div>

        <div class="row text-center">

  <div class="col-md-4 mb-4">
    <div class="card-box bg-primary">
      <h5>Total Appointments</h5>
      <h3>{{ total_appointments }}</h3>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card-box bg-success ">
      <h5>Completed</h5>
      <h3>{{ completed }}</h3>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card-box bg-warning text-dark rounded">
      <h5>Pending</h5>
      <h3>{{ pending }}</h3>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card-box bg-danger text-white rounded">
      <h5>Cancelled</h5>
      <h3>{{ cancelled }}</h3>
    </div>
  </div>

</div>
    <div class="text-center mt-4">
        <a href="/" class="btn btn-primary">Book Appointment</a>
        <a href="/appointments/" class="btn btn-success">View Appointments</a>
    </div>

</div>
<div class="col-md-4 mb-4">
    <div class="card-box bg-dark">
        <h4>Total Revenue</h4>
        <h2>₹ {{ total_revenue }}</h2>
    </div>
</div>
<div class="col-md-3">
    <div class="card bg-info text-white shadow p-3">
        <h5>Today's Appointments</h5>
        <h2>{{ today_appointments }}</h2>
    </div>
</div>
</body>
</html>
{% endblock content %}